@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --bg-color: #1992d4;
    --text-color-main: #fff;
    --text-color-second: #000;
    --hover-color: #facc15;
    --active-color: #d0b134;
    --text-card-color: #636363;
    --thumb-color: #9c9696;
    --thumb-hover-color: #605d5d;
}

html {
    font-size: 100%;
}

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    position: relative;
        
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: 11rem 1fr;

    height: 100vh;
}

.wrapper {
    padding: 2rem 2rem 4rem 1rem;

    display: grid;
    grid-template-columns: 3fr minmax(20rem, 1fr);
    column-gap: 1.5rem;

    background: #e2e8f0;
}

.card {
    position: relative;
    margin: 0.3rem 0;
    padding: 2rem 1.5rem;

    display: grid;

    background: var(--text-color-main);
    border-radius: 0.7rem;

    overflow: hidden;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.297);
}

/* nav =========================== */

.nav {
    z-index: 1;
    grid-row: 1 / -1;

    display: grid;
    row-gap: 60px;
    grid-auto-rows: min-content;
    justify-content: center;

    padding-top: 1.7rem;

    background: var(--bg-color);
}

.nav__logo {
    height: 2.5rem;
}

.nav__block {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

.nav > .nav__link {
    font-size: 2rem;
}

.nav__link {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color-main);
    font-weight: 700;

    transition: color .3s linear;
}

.nav__link:hover {
    color: var(--hover-color);
}

.nav__icon {
    width: 1.8rem;
    height: 1.8rem;
    
    fill: var(--text-color-main);

    transition: fill .3s linear;
}

.nav__link:hover .nav__icon {
    fill: var(--hover-color);
}

/* header ======================= */

.header {
    z-index: 1;
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;

    color: var(--text-color-second);
    font-weight: 700;

    padding: 0 3rem;

    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.281);
}

.header__search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__search-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.header__search-input {
    flex: 1;

    background: #e2e8f0;
    border: none;
    border-radius: 1rem;

    padding: 0.3rem 1rem;

    font-size: 1.3rem;
    font-family: inherit;

    outline-color: var(--bg-color);
}

.header__search-input::-webkit-search-cancel-button {
    display: none;
}

.header__notify {
    justify-self: end;

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header__notify-icon {
    width: 1.5rem;
    height: 1.5rem;

    fill: var(--text-color-second);

    transition: fill .3s linear;
}

.header__notify-icon:hover {
    fill: var(--hover-color);
}

.header__avatar {
    height: 3rem;
    
    border-radius: 50%;
}

.header__avatar_big {
    height: 4.5rem;
}

.header__notify-user {
    font-size: 1.3rem;
}

.header__user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header__user-greeting {
    margin-bottom: 0.4rem;
    
    font-size: 1rem;
}

.header__user-name {
    font-size: 1.7rem;
}

.header__btns {
    display: flex;
    gap: 2rem;
}

.header__btn {
    flex: 1;

    padding: 0.7rem 1rem;

    font-size: 1.2rem;
    font-family: inherit;
    color: var(--text-color-main);
    font-weight: 700;

    border: none;
    border-radius: 1.4rem;
    background: var(--bg-color);

    cursor: pointer;

    transition: background-color 0.3s linear;
}

.header__btn:hover {
    background-color: var(--hover-color);
}

.header__btn:active {
    background-color: var(--active-color);
}

/* projects ======================= */

.projects {
    height: calc(100vh - 17rem);
}

.section-header {
    margin-bottom: 1rem;
    
    font-size: 1.5rem;
    color: var(--text-color-second);
    font-weight: 700;
    text-transform: capitalize;
}

.projects__inner {
    padding: 0 0.3rem;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-auto-rows: 15rem;
    gap: 2rem;

    overflow-y: auto;
}

.projects__inner::-webkit-scrollbar {
    background: transparent;
}

.projects__inner::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
    border-radius: 1rem;
}

.projects__inner::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover-color);
}

.card_projects  {
    transition: box-shadow 0.3s linear;
}

.card_projects:hover {
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.297);
}


.projects__inner .card::before {
    position: absolute;

    display: block;
    content: "";
    width: 0.5rem;
    height: 100%;

    background-color: var(--hover-color);
}

.projects__header {
    margin-bottom: 0.7rem;
    
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: var(--text-color-second);
}

.projects__text {
    display: -webkit-box;
    
    font-size: 1.1rem;
    line-height: 1.3;
    color: var(--text-card-color);

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.projects__social {
    place-self: end;

    display: flex;
    gap: 1rem;
}

.projects__btn {
    padding: 0;

    background: transparent;
    border: none;

    cursor: pointer;
}

.projects__btn-icon {
    width: 1.6rem;
    height: 1.6rem;
    
    color: var(--text-color-second);

    transition: color 0.2s linear;
}

.projects__btn:hover .projects__btn-icon {
    color: var(--hover-color);
}

/* aside  =======================  */

.aside {
    padding: 0 0.3rem;    
    height: calc(100vh - 17rem);
    
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;

    overflow-y: auto;
}

.aside::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
    border-radius: 1rem;
}

.aside::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover-color);
}

.aside::-webkit-scrollbar {
    background-color: transparent;
}

.aside__item {
    display: flex;
    flex-direction: column;
}

.aside .card {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.announ__item {
    flex: 1;
    
    padding-bottom: 1rem;

    border-bottom: 1px solid #d2d2d2;
}

.announ__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.announ__header {
    text-transform: capitalize;
    font-size: 1.2rem;
}

.announ__text {
    display: -webkit-box;
    
    line-height: 1.3;
    color: var(--text-card-color);

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trending__item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.trending__avatar {
    height: 3rem;

    border-radius: 50%;
}

.trending__name {
    margin-bottom: 0.2rem;
    
    color: var(--text-color-second);
}

.trending__status {
    font-size: 1.1rem;
    text-transform: capitalize;
    color: var(--text-card-color);
}


/* media ======================= */

@media (max-width: 1024px) {
    .container {    
        grid-template-columns:  none;
    }

    .wrapper {
        padding: 1rem;
    }

    .nav {
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: -18rem;

        width: 18rem;

        transition: left 0.3s linear;
    }

    .header__user-name {
        font-size: 1.4rem;
    }

    .aside {
        height: calc(100vh - 14rem);
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 1rem;
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 0.5rem;
    }

    .header__search {
        grid-column: 1/-1;
    }

    .header__notify {
        justify-self: start;
    }

    .header__btns {
        gap: 1rem;
    }

    .header__user {
        display: none;
    }

    .wrapper {
        grid-template-columns: none;
    }
    
    .aside {
        display: none;
    }

    .header__btns {
        justify-content: flex-end;
        gap: 1rem;
    }

    .header__btn {
        flex: 0 0 3rem;
        
        padding: 0;
        width: 3rem;
        height: 3rem;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

        background-size: contain;
        background-position: center;
        background-size: 1.5rem;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    .header__btn:nth-child(1) {
        background-image: url('./images/plus.svg');
    }

    .header__btn:nth-child(2) {
        background-image: url('./images/upload.svg');
    }

    .header__btn:nth-child(3) {
        background-image: url('./images/share.svg');
    }
}

@media (max-height: 590px) {
    .container {
        grid-template-rows: 6rem 1fr;
    }
    
    .nav {
        row-gap: 1rem;
    }

    .nav__link {
        font-size: 1.2rem;
    }

    .nav__block:nth-child(3) {
        display: none;
    }

    .header {
        grid-template-rows: none;
    }
    
    .header__user {
        display: none;
    }

    .header__btns {
        display: none;
    }

    .projects {
        height: calc(100vh - 10rem);
    }

    .aside {
        height: calc(100vh - 10rem);
    }
}